/* reset styles */
html, body, div, h2, h3, h5, p, a, img, ul, li {
    margin: 0; padding: 0;  border: 0; outline: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

footer,
header,
main,
nav,
section {
	display: block;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}
/* Small menu. */

@media screen and (min-width: 37.5em) {
	.main-navigation ul {
		display: block;
	}
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
