/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/

html {
  background-color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #656D78;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}


/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
  color: #1A1D20;
  text-decoration: none;
  transition: 0.2s;
}

a:active, a:hover {
  color: #4A89DC;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h2, h3, h5 {
  line-height: 1.6em;
  font-weight: 400;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  line-height: 1.7em;
}

ul {
  margin-left: 20px;
}

ul li {
  line-height: 1.7em;
}


/*--------------------------------------------------------------
# Social Icons
--------------------------------------------------------------*/

.social-icons {
  margin-left: 0;
}

.social-icons li {
  list-style: none;
  display: inline;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.site-title {
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.site-title a {
  color: #404650;
}


/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/

.main-navigation ul {
  display: inline-block;
  list-style: none;
  margin: 20px 0 0;
}

.main-navigation ul li {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 600;
}

.main-navigation ul li a {
  color: #AAB2BD;
}

.main-navigation ul li a:active, .main-navigation ul li a:hover {
  color: #4A89DC;
}

.main-navigation, .menu-header-menu-container {
  display: inline;
}


/*--------------------------------------------------------------
# Site Content
--------------------------------------------------------------*/

.site-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-area {
  float: left;
  width: 100%;
  max-width: 1080px;
}


/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.section {
  margin-bottom: 100px;
}

.work {
  margin-bottom: 70px;
}

.work a {
  border-bottom: 1px solid #E6E9ED;
  padding-bottom: 2px;
}

.section-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #AAB2BD;
  font-weight: 600;
  margin-bottom: 30px;
}

.work-item {
  margin-bottom: 30px;
}

.work-item h3 {
  color: #1d1d1f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.skill {
  margin-bottom: 10px;
}


/*
#intro pic
*/

#carousel {
  position: relative;
  padding: 0;
  height: 660px;
  margin-bottom: 5%;
}

section {
  padding: 0 30px;
}

#carousel .bg {
  position: absolute;
  width: 100%;
  z-index: 0;
}

#carousel .bg>* {
  position: absolute;
  width: 100%;
}

#carousel .bg svg {
  height: 380px;
  width: 100%;
}

#carousel .bg svg {
  height: 480px;
  width: 100%;
}


/*box bg*/

#carousel .bg2 {
  position: absolute;
  width: 100%;
  z-index: 0;
}

#carousel .bg2>* {
  position: absolute;
  width: 100%;
}

#carousel .bg2 svg {
  height: 380px;
  width: 100%;
}

#carousel .bg2 svg {
  height: 480px;
  width: 100%;
}


/*svg bg statements*/

.bottom, .top {
  top: 22px;
}

#carousel.storefront .bottom svg path {
  fill: #e3ebf4;
}

#carousel.storefront .top svg stop:first-child {
  stop-color: #c4cddc;
}

#carousel.storefront .top svg stop:last-child {
  stop-color: #b1becf;
}

#carousel .bg .top svg path {
  fill: url(#gradient_color);
}

#carousel .inside {
  text-align: center;
}


/* about statements */

.medium {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

#carousel .box {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 auto;
  max-width: 1080px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

#carousel .box img {
  border-radius: 4px;
}

#carousel .box h2 {
  font-size: 24px;
  font-weight: 900;
  opacity: 0.80;
  padding: 15px 40px 15px 15px;
  bottom: 45px;
  color: #ffffff;
  z-index: 10;
  position: absolute;
}

#carousel .box h3 {
  padding: 5px 27px 0px 16px;
  bottom: -6px;
  /* opacity: 0.80; */
  color: #e6e6e6;
  font-size: 22px;
  z-index: 10;
  position: absolute;
}

.stripes {
  bottom: 21px;
  transform-origin: 0;
  position: absolute;
  max-width: 1080px;
  width: 100%;
  height: 220px;
  display: grid;
  transform: skewY(-4deg);
}

.stripes :nth-child(1) {
  grid-column: span 3;
    background: linear-gradient(100grad, rgba(64, 70, 80, 0.67) 50%, rgba(177, 190, 207, 0.24));
}

.stripes :nth-child(2) {
  grid-area: 3/span 3/auto/-1;
  background: linear-gradient(100grad, rgba(0, 119, 204, 0), rgba(0, 119, 204, .05) 40%, rgba(177, 190, 207, 0.6));
}

.stripes :nth-child(3) {
  grid-row: 4;
  grid-column: span 5;
  background: linear-gradient(100grad, rgba(64, 70, 80, 0.67) 50%, rgba(177, 190, 207, 0.24));
  height: 50px;
}

.stripes :nth-child(4) {
      background: linear-gradient(100grad, rgba(177, 190, 207, 0.52) 50%, rgba(50, 50, 93, .1));
  grid-area: 4/span 5/auto/-1;
}

.stripes :nth-child(5) {
  grid-area: auto/1/-1/-1;
  background: linear-gradient(100grad, rgba(177, 190, 207, 0.27) 80%, rgba(177, 190, 207, 0.6));
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.col-1-2 {
  width: 50%;
}

.grid {
  overflow: hidden;
  margin-left: -30px;
  width: calc(100% + 60px);
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 30px;
}

.work-item {
  margin-bottom: 30px;
}

.site-footer {
  background-color: #1A1D20;
  padding: 100px 0;
}

.site-footer a {
  color: white;
}

.site-footer .site-info {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-footer .section-title {
  margin-bottom: 15px;
}

.site-footer .social-icons {
  margin-top: 30px;
}

.site-footer .social-icons li {
  margin-right: 15px;
}

.site-footer .copyright {
  margin-top: 40px;
}

.flex-box {
  display: flex;
}

.contact {
  max-width: 420px;
}

.contact .contact-copy {
  line-height: 1.6;
  font-size: 18px;
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .box {
    max-width: 710px !important;
  }
}

@media all and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  .site-header {
    padding: 40px 20px;
    text-align: center;
  }
  .main-navigation {
    float: left;
  }
  .main-navigation ul li {
    margin: 0 20px 0 0;
  }
  .section {
    margin-bottom: 70px;
  }
  .work {
    margin-bottom: 40px;
  }
  .grid {
    padding: 0 !important;
  }
  .capabilities {
    margin-bottom: 60px;
  }
  .content-area {
    float: none;
  }
  .site-footer {
    padding: 60px 0 40px;
  }
  .flex-box {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
