/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/

html {
  background-color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #656D78;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}


/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
  color: #1A1D20;
  text-decoration: none;
  transition: 0.2s;
}

a:active, a:hover {
  color: #17c37b;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h2, h3 {
  line-height: 1.6em;
  font-weight: 400;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 1.7em;
}

ul {
  margin-left: 20px;
}

ul li {
  line-height: 1.7em;
}

.dark {
  color: #1A1D20 !important;
}


/*--------------------------------------------------------------
# Social Icons
--------------------------------------------------------------*/

.social-icons {
  margin-left: 0;
}

.social-icons li {
  list-style: none;
  display: inline;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 20px;
}

.site-title {
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.site-title a {
  color: #404650;
}


/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Site Content
--------------------------------------------------------------*/

.site-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-area {
  float: left;
  width: 100%;
  max-width: 1080px;
}


/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.section {
  margin-bottom: 100px;
}

.work {
  margin-bottom: 70px;
}

.work a {
  border-bottom: 1px solid #17c37b;
  padding-bottom: 2px;
}

.section-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #AAB2BD;
  font-weight: 600;
  margin-bottom: 30px;
}

.work-item {
  margin-bottom: 30px;
}

.work-item h3 {
  color: #1d1d1f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2em;
}


/* --------------------------------

Mask 2

-------------------------------- */

.mask-2.cd-intro-content * {
  /* overwrite default style */
  opacity: 1;
}

.mask-2.cd-intro-content .content-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.mask-2.cd-intro-content .content-wrapper::before {
  /* vertical bar */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  height: 480px;
  width: 2px;
  background-color: #17c37b;
  -webkit-animation: cd-pulse 1.3s 0.3s both;
  -moz-animation: cd-pulse 1.3s 0.3s both;
  animation: cd-pulse 1.3s 0.3s both;
}

.mask-2.cd-intro-content .content-wrapper>div {
  /* wrap the entire content */
  position: relative;
  z-index: 1;
}

.mask-2.cd-intro-content .content-wrapper, .mask-2.cd-intro-content .content-wrapper>div {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.mask-2.cd-intro-content .content-wrapper {
  -webkit-animation-name: cd-mask-wrapper;
  -moz-animation-name: cd-mask-wrapper;
  animation-name: cd-mask-wrapper;
}

.mask-2.cd-intro-content .content-wrapper>div {
  -webkit-animation-name: cd-mask-content;
  -moz-animation-name: cd-mask-content;
  animation-name: cd-mask-content;
}

@-webkit-keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-mask-wrapper {
  0% {
    -moz-transform: translateX(50%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-mask-content {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*
#intro pic
*/

#carousel {
  position: relative;
  padding: 0;
  height: 660px;
}

section {
  padding: 0 30px;
}

#carousel .bg {
  position: absolute;
  width: 100%;
  z-index: 0;
}

#carousel .bg>* {
  position: absolute;
  width: 100%;
}

#carousel .bg svg {
    height: 610px;
  width: 100%;
}
/*box bg*/

/*svg bg statements*/

.bottom, .top {
    top: -40px;
}

#carousel.storefront .bottom svg path {
  fill: #e3ebf4;
}

#carousel.storefront .top svg stop:first-child {
  stop-color: #c4cddc;
}

#carousel.storefront .top svg stop:last-child {
  stop-color: #b1becf;
}

#carousel .bg .top svg path {
  fill: url(#gradient_color);
}

#carousel .inside {
  text-align: center;
}


/* about statements */

#carousel .box {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 auto;
  max-width: 1080px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

#carousel .box img {
  border-radius: 4px;
}

#carousel .box h2 {
  font-size: 24px;
  font-weight: 900;
  opacity: 0.80;
  padding: 15px 40px 15px 15px;
  bottom: 45px;
  color: #ffffff;
  z-index: 10;
  position: absolute;
}

#carousel .box h3 {
  padding: 5px 27px 0px 16px;
  bottom: -6px;
  /* opacity: 0.80; */
  color: #e6e6e6;
  font-size: 22px;
  z-index: 10;
  position: absolute;
}

.stripes {
    bottom: 54px;
  transform-origin: 0;
  position: absolute;
  max-width: 1080px;
  width: 100%;
  height: 220px;
  display: grid;
  transform: skewY(-4deg);
}

.stripes :nth-child(1) {
  grid-column: span 3;
  background: linear-gradient(100grad, rgba(64, 70, 80, 0.67) 50%, rgba(177, 190, 207, 0.24));
}

.stripes :nth-child(2) {
  grid-area: 3/span 3/auto/-1;
  background: linear-gradient(100grad, rgba(0, 119, 204, 0), rgba(0, 119, 204, .05) 40%, rgba(177, 190, 207, 0.6));
}

.stripes :nth-child(3) {
  grid-row: 4;
  grid-column: span 5;
  background: linear-gradient(100grad, rgba(64, 70, 80, 0.67) 50%, rgba(177, 190, 207, 0.24));
  height: 50px;
}

.stripes :nth-child(4) {
  background: linear-gradient(100grad, rgba(177, 190, 207, 0.52) 50%, rgba(50, 50, 93, .1));
  grid-area: 4/span 5/auto/-1;
}

.stripes :nth-child(5) {
  grid-area: auto/1/-1/-1;
  background: linear-gradient(100grad, rgba(177, 190, 207, 0.27) 80%, rgba(177, 190, 207, 0.6));
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.col-1-2 {
  width: 50%;
}

.grid {
  overflow: hidden;
  margin-left: -30px;
  width: calc(100% + 60px);
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0 30px;
}

.work-item {
  margin-bottom: 30px;
}

.site-footer {
  background-color: #1b1d1c;
  padding: 50px 0;
}

.site-footer a {
  color: #17c37b;
  font-weight: bold;
}

.site-footer .site-info {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-footer .section-title {
  margin-bottom: 15px;
}

.site-footer .social-icons {
  margin-top: 30px;
}

.site-footer .social-icons li {
  margin-right: 15px;
}

.site-footer .copyright {
  margin-top: 40px;
}

.flex-box {
  display: flex;
}

.contact {
  max-width: 420px;
}

.contact .contact-copy {
  line-height: 1.6;
  font-size: 18px;
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .box {
    max-width: 710px !important;
  }
  .stripes {
    bottom: 48px;
  }
  #carousel {
    height: 460px;
  }
  #carousel .bg svg {
    height: 380px;
  }
}

@media all and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  section {
    padding: 0px !important;
  }
  .bottom, .top {
        top: -23px;
  }
  #carousel {
        height: 394px;
  }
  #carousel .bg svg {
    height: 380px;
  }
  #carousel .box {
    height: 320px;
  }
  #carousel .box h3 {
    font-size: 20px;
  }
  .stripes :nth-child(1) {
    top: 24px;
  }
  .stripes :nth-child(3) {
    height: 145px;
  }
  .col-1-2 {
    width: 100%;
  }
  .site-header {
    padding: 40px 20px;
    text-align: center;
  }
  .section {
    margin-bottom: 70px;
  }
  .work {
    margin-bottom: 40px;
  }
  .grid {
    padding: 0 !important;
  }
  .content-area {
    float: none;
  }
  .site-footer {
    padding: 60px 0 40px;
  }
  .flex-box {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


/* reset styles */
html, body, div, h2, h3, p, a, img, ul, li {
    margin: 0; padding: 0;  border: 0; outline: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

footer,
header,
main,
section {
	display: block;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}
/* Small menu. */

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
